*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,h1,h2,h3,h4,p,ul,ol,li{
  margin: 0;
}
ul,ol{
  padding: 0;
}

a,
a:link,
a:visited {
    margin: 0;
  text-decoration: none;
  color: inherit;
}

a:hover  {
    text-decoration: none;
}
button {
  background: none;
  border: none;
  color: inherit;
}

ul,ol{
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*-------------------------------------------*/

[class$="__container"] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

@media(max-width:767.98px){
 [class$="__container"] {
  max-width: 729px;
}   

}
@media(max-width:319.98px){
 [class$="__container"] {
  max-width: 300px;
}   
}

/*-------------------------------------------*/

body{
    font-family: "Oswald";
}

$BASIC_GREEN:#68B738;
$WHITE:#ffff;
$BLACK:#000;
$DARK_GREY:#444444;

/*-------------------HEADER------------------------*/

.header {
    height: 165px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;

    &__logo{
        padding-right: 10px;
    }

    .logo-tablet,.logo-mobile{
        display: none;
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        color: #000;
        align-items: center;
        text-align: center;
        li{
            position: relative;
            &:first-child{
                margin-right: 37px;
            }
            &:last-child{
                margin-left: 32px;
            }

              &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $BLACK;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
    &__link{
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media(max-width:767.98px){

    .header{
        height: 100px;
        .logo-desktop,.logo-mobile{
        display: none;
        }
        .logo-tablet{
            display: inline-flex;
        }
        &__list{
            color: $BLACK;
            column-gap: 35px;
        }
        &__link{
            font-size: 18px;
    }
    }
}

@media(max-width:710px){
    .header{

        &__list{
            font-size: 16px;
            color: $BLACK;
            column-gap: 15px;
        }
        &__link{
            font-size: 18px;
    }
    }
}

@media(max-width:319.98px){
    .header{
        &__logo{
            flex: 0 1 70%;
        }
        .logo-mobile{
            display: flex;
            justify-content: space-between;
        }
        .logo-desktop,.logo-tablet{
            display: none;
        }
    }
}

/*---------------BURGER-MENU----------------------------*/
.burger-checkbox {
  display: none;
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  span {
   display: block;
   height: 2px;
   background: $BLACK;
   transition: all 0.3s;
 }
}
@media(max-width: 600px) {
  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    background: $BASIC_GREEN;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .header__list{
    margin-top: 100px;
    row-gap: 30px;
    color: $WHITE;
    flex-direction: column;
    align-items: baseline;
  }
  .burger {
    z-index: 100;
    display: flex;
  }
  .burger-checkbox:checked ~ .header__menu {
    transform: translateX(0);
  }
  .burger-checkbox:checked + .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
  }
  .burger-checkbox:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  .burger-checkbox:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }
}
/*------------------MAINBLOCK-------------------------*/

.mainblock {
    height: 720px;
    display: flex;
    background: url("../img/background-image.jpg") right center / 50% auto no-repeat,$WHITE;
    align-items: center;
    &__container{

    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 415px;
    }
    &__header {
        font-size: 60px;
        margin-bottom: 40px;
    }
    &__discr {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 52px;
    }
    &__button {
        background-color: $BASIC_GREEN;
        padding: 14px 26px;
        font-size: 20px;
        color: $WHITE;
        text-transform: uppercase;
    }
    
}

/*-------------------------------------------*/

/*-------------------------------------------*/

