*,
*::before,
*::after {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,p,ul,ol,li{
  margin: 0;
}
ul,ol{
  padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover  {
    text-decoration: none;
}
button {
  background: none;
  border: none;
  color: inherit;
}

ul,ol{
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*-------------------------------------------*/





