*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
}

ul, ol {
  padding: 0;
}

a,
a:link,
a:visited {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*-------------------------------------------*/
[class$=__container] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 767.98px) {
  [class$=__container] {
    max-width: 729px;
  }
}
@media (max-width: 319.98px) {
  [class$=__container] {
    max-width: 300px;
  }
}
/*-------------------------------------------*/
body {
  font-family: "Oswald";
}

/*-------------------HEADER------------------------*/
.header {
  height: 165px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header__logo {
  padding-right: 10px;
}
.header .logo-tablet, .header .logo-mobile {
  display: none;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  color: #000;
  align-items: center;
  text-align: center;
}
.header__list li {
  position: relative;
}
.header__list li:first-child {
  margin-right: 37px;
}
.header__list li:last-child {
  margin-left: 32px;
}
.header__list li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}
.header__list li:hover::after {
  width: 100%;
}
.header__link {
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .header {
    height: 100px;
  }
  .header .logo-desktop, .header .logo-mobile {
    display: none;
  }
  .header .logo-tablet {
    display: inline-flex;
  }
  .header__list {
    color: #000;
    column-gap: 35px;
  }
  .header__link {
    font-size: 18px;
  }
}
@media (max-width: 710px) {
  .header__list {
    font-size: 16px;
    color: #000;
    column-gap: 15px;
  }
  .header__link {
    font-size: 18px;
  }
}
@media (max-width: 319.98px) {
  .header__logo {
    flex: 0 1 70%;
  }
  .header .logo-mobile {
    display: flex;
    justify-content: space-between;
  }
  .header .logo-desktop, .header .logo-tablet {
    display: none;
  }
}
/*---------------BURGER-MENU----------------------------*/
.burger-checkbox {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}
.burger span {
  display: block;
  height: 2px;
  background: #000;
  transition: all 0.3s;
}

@media (max-width: 600px) {
  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    background: #68B738;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .header__list {
    margin-top: 100px;
    row-gap: 30px;
    color: white;
    flex-direction: column;
    align-items: baseline;
  }
  .burger {
    z-index: 100;
    display: flex;
  }
  .burger-checkbox:checked ~ .header__menu {
    transform: translateX(0);
  }
  .burger-checkbox:checked + .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
  }
  .burger-checkbox:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  .burger-checkbox:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }
}
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

/*# sourceMappingURL=style.css.map */
